---
layout: default
---

<div class="home">

  <div>

    These notes are used to guide students through the basics of C programming.  There are in very active development and will frequently change.
  </div>

  <br>



  <br>

  <h1 class="page-heading">Lectures</h1>
    <ul>
      {% for post in site.posts reversed %}
        {% if post.categories contains 'lecture' %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          {{ post.excerpt }}
          <br>
        {% endif %}
      {% endfor %}
    </ul>

  <br><br>

  <h1 class="page-heading">Assignments</h1>
    <ul>
      {% for post in site.posts reversed %}
        {% if post.categories contains 'assignment' %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          <br>
        {% endif %}
      {% endfor %}
    </ul>

  <br><br>

  <ul>
      {% for post in site.posts reversed %}
        {% if post.categories contains 'reference' %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          <br>
        {% endif %}
      {% endfor %}
    </ul>
</div>
